[Buzzwords]
# Buzzword (regex) for search in title and abstract
#
# X-rays (accept capital and small X)
"[Xx]-ray"        +20
# Planet (accept capital and small X)
"[pP]lanet"       +20

[Authors]
# Last names of authors and optional initials
"Czesla"           +200
"Schmitt, J."      +200

[Subcat]
# The subcategory in arXiv
# CO - Cosmology and Extragalactic Astrophysics (new, recent, current month) 
# EP - Earth and Planetary Astrophysics (new, recent, current month) 
# GA - Galaxy Astrophysics (new, recent, current month) 
# HE - High Energy Astrophysical Phenomena (new, recent, current month) 
# IM - Instrumentation and Methods for Astrophysics (new, recent, current month) 
# SR - Solar and Stellar Astrophysics (new, recent, current month)
"CO"    -200
"IM"    -100